# Bytecode & Python cache
__pycache__/
*.py[cod]
*.egg-info/

# Output folders & logs
output/
build/
*.log
*.mp4
*.json

# Image outputs
*.png
*.jpg
*.jpeg
*.heic

# Ignore only inside input/ (your raw images)
input/
input/*.jpg
input/*.jpeg
input/*.png
input/*.heic

# System files
.DS_Store

# COLMAP files
*.db
sparse/
